.app-navbar {
  $nav-background: #222823;
  $nav-color: #f4f7f5;
  $nav-size: 80px;

  display: block;
  background: $nav-background;
  height: $nav-size;
  width: 100%;
  color: $nav-color;

  a {
    color: $nav-color;
    display: flex;
    align-items: center;
  }

  .title {
    margin: 0 16px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    .menu-item {
      margin: 0 16px;
    }
  }
}
