.App {
  $some-color: #222823;
  $some-color: #575a5e;
  $some-color: #f4f7f5;
  $some-color: #a7a2a9;
  $some-color: #08090a;

  background-color: lighten(#222823, $amount: 80);
  color: #08090a;
  height: 100%;
}

.page-title {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 54px;
  text-transform: uppercase;
}
