.App {
  max-width: 860px;
  margin: 40px auto;
}

.title {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 64px;
  font-size: 4rem;
  text-transform: capitalize;
}

.card-grid {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

.start-btn {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  border: solid 4px white;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.2s;
  color: white;
}

.start-btn:hover {
  background-color: #481862;
}

.turns {
  margin-top: 32px;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}
