@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
  font-family: 'Montserrat', sans-serif;
  background: lighten(#222823, $amount: 80);
}

a {
  text-decoration: none;
}
